* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.product-card {
    flex: 0 0 auto;
    width: 200px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.355);
    padding: 10px;
    border-radius: 4px;
}

img {
    width: 100%;
}

.genres-container > ul {
    display: flex;
    list-style: none;
    gap: 8px;
    flex-wrap: wrap;
}

.genres-container > ul > li {
    transition: 0.25s all;
}

.genres-container > ul > li:hover {
    transform: scale(1.04);
    cursor: pointer;
}